doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetFlix
        link(rel="stylesheet", href="/style.css", type="text/css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
        div(class="header")
            
            #logo
                img(src="./assets/logoImg.webp" alt="logo")
                h1(class="brand") PetFlix
            #menu
                img#profile(src='' alt="profile")
                    
                input(type="search" class="form-control" placeholder="Search for a movie")
                button(class="btn btn-success") Search

        div(class="main")
            .content#jumbo 
                h1 New Releases
            .row#mylist
                h1 My Selection
                .carousel-container
                    a(href="#" class="carousel-btn prev") &lt;
                    .carousel-slide
                        
                        .panel
                        .panel
                        .panel
                        .panel
                        
                    a(href="#" class="carousel-btn next") &gt;


                
            .row#two
                h1 display two
            .row#three
                h1 display three
            .row#four
                h1 display four
            .row#five
                h1 display five
            .content#categories
                h1 Cartes Categories
        script(src="https://code.jquery.com/jquery-3.7.1.js"
			  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			  crossorigin="anonymous")
        script(type='text/javascript', src="/jquery_carousel.js")         
 