doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetFlix
        link(rel="stylesheet", href="/style.css", type="text/css")
        
    body
        div(class="header")
            
            #logo
                img(src="./assets/logoImg.webp" alt="logo")
                h1(class="brand") PetFlix
            #menu
                img#profile(src='' alt="profile")
                    
                input(type="search" class="form-control" placeholder="Search for a movie")
                button(class="btn btn-success") Search

        div(class="content")
            #jumbo 
                h1 New Releases
            .row#mylist
                h1 My Selection  
            .row#two
                h1 display two
            .row#three
                h1 display three
            .row#four
                h1 display four
            .row#five
                h1 display five
                
            