/* POSITIONING */

@mixin flexInFlex {
  position: relative;
  display: flex;
  margin: auto;
}

@mixin layoutMargins {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* COLORS */

@mixin darkBg {
  background-color: #212529;
}

@mixin greenBg {
  background-color: #198754;
}

@mixin secondaryBg {
  background-color: #6c757d;
}

@mixin darkItem {
  color: #212529;
}

@mixin greenItem {
  color: #198754;
}

/* FONTS */

@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./assets/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
