@import "mixins";

body {
  @include darkBg;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */

.header {
  @include darkBg;
  display: flex;
  position: fixed;

  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
  img {
    @include flexInFlex;
    height: 75px;
    width: 75px;
    border: solid red;
  }
}

#logo {
  @include flexInFlex;
  flex-direction: row;
  white-space: nowrap;
  margin-left: 1rem;
  h1 {
    @include flexInFlex;
    @include greenItem;
    font-size: 4rem;
    box-sizing: border-box;
  }
}

#menu {
  @include flexInFlex;
  flex-direction: row;
  white-space: nowrap;
  margin-right: 1rem;
  input {
    @include darkBg;
    @include greenItem;
    height: 50%;
  }
}

/* CONTENT */

.content {
  @include flexInFlex;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

#jumbo {
  @include secondaryBg;
  position: relative;
  height: 50rem;
  width: 100%;
  border: rgb(201, 5, 255) solid 2px;
}

.row {
  @include flexInFlex;
  @include secondaryBg;
  margin-top: 3rem;
  height: 15rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
    @include greenItem;
    font-size: 2rem;
    position: relative;
    margin-top: -16rem;
  }
}
