doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Full movies list
    body 
        h1 Movies
        if movies.length
            ul
                each movie in movies
                    li
                        strong #{movie.title}
                            (#{movie.year}) - Director: #{movie.director}
            else
            p No movies found.
