doctype html

- let title = "Title"
- let year = "Year"
- let duration = "Duration"
- let director = "Director"
- let actors = "Actors"
- let synopsis = "Synopsis"
- let genre = "Genre" 

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Full movies list
        link(rel="stylesheet", href="../public/stylesheets/allmovies.css", type="text/css")
    body 
        h1 Movies
        if movies.length
            ul
                each movie in movies
                    li
                        strong #{title}
                            (#{year}) - Director: #{director}
            else
            p No movies found.
