doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Getflix
h1 HOME
button(onclick="location.href='/login';") LOGIN
button(onclick="location.href='/register';") REGISTER