doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Petflix Login
  link(rel='stylesheet' href='style.css')
h1 LOGIN
form(action='/login' method='post')
  .container
    label(for='username')
      b Username
    input(type='text' placeholder='Enter Username' name='username' required='')
    label(for='password')
      b Password
    input(type='password' placeholder='Enter Password' name='password' required='')
    button(type='submit') Login
