doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Petflix register
  link(rel='stylesheet', href='./stylesheets/register/style.css')
.rightHalf
  .bodyDiv
    .sectionDiv
      .block1
      .block2
        .img
          img.logo(src='./images/login/logoFull.png' alt='logo')
      .block1
    .sectionDiv
      .block4
      .block3
        form(action='/register' method='post')
          .inputDiv
            input#inputField(type='text' placeholder='Enter Username' name='username' required='')
          .inputDiv
            input#emailField(type='email' placeholder='email' name='email' required='')
          .inputDiv
            input#passwordBase(type='password' placeholder='Enter Password' name='password' required='')
          .inputDiv
            input#passwordInput(type='password' placeholder='confirm Password' required='')
          .inputDiv 
            input#newsletter(type='checkbox' name='newsletter')
            label(for="newsletter") Je souhaite recevoir la Newsletter
          .buttonDiv
            button(type='submit') Register
      .block4
        .div2
          p#userCheck user already exist
        .div2
          p#emailCheck email already exist
        .div2
        .div2
          p#passwordCheck Wrong password

.leftHalf p
script(src='./javascripts/register.js')

