@import "mixins";

body {
  @include darkBg;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

main {
  @include centerFlex;
}

// HEADER

.header {
  @include darkBg;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  @include flexInFlex;
  display: block;
  margin-left: 2rem;
  height: 50px;
}

// RIGHT SIDE

#menu {
  @include flexInFlex;
  white-space: nowrap;
  margin-right: 2.5rem;
}

details {
  position: absolute;
  right: 15rem;
  top: -1.3rem;
  list-style: none;
  summary {
    list-style: none;
    img {
      @include flexInFlex;
      height: 60px;
      width: 60px;
      border: solid red;
    }
  }
  ul {
    list-style: none;
    position: absolute;
    @include darkBg;
    li a {
      text-decoration: none;
      color: green;
    }
  }
}

input {
  @include darkBg;
  @include greenItem;
  height: 50%;
  border-color: #198754;
}

.btn {
  @include darkBg;
  @include greenItem;
  border: none;
}

// CONTENT

.movie {
  position: relative;
  display: flex;
  margin: auto;
  top: 70px;
  aspect-ratio: 16 / 9;
  height: 90vh;
  border: 4px green solid;
  border-radius: 9px;
  overflow: hidden;
}

.moviePoster {
  @include centerFlex;
  @include greenBg;
  display: block;
  height: 100%;
  width: 40%;
  text-align: center;

  button.play {
    margin: auto;
    position: relative;
    background: none;
    border: none;
    display: inline-block;
    .img {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      z-index: 1;
    }
  }
}

.movieInfo {
  grid-area: info;
  @include secondaryBg;
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  justify-content: space-around;
  .info {
    color: #212529;
    padding: 2.5rem;
  }
}
