@import "mixins";
@import "header";

// CONTENT

.movie {
  position: relative;
  display: flex;
  margin: auto;
  top: 80px;
  aspect-ratio: 16 / 9;
  height: 90vh;
  border: 4px green solid;
  border-radius: 9px;
  overflow: hidden;
}

.moviePoster {
  @include centerFlex;
  @include greenBg;
  display: block;
  height: 100%;
  width: 40%;
  text-align: center;

  .play {
    margin: auto;
    position: relative;
    background: none;
    border: none;
    display: inline-block;
    top: 25%;
    .img {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      z-index: 1;
    }
  }
}

.movieInfo {
  grid-area: info;
  @include secondaryBg;
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  justify-content: space-around;
  .info {
    color: #212529;
    padding: 2.5rem;
  }
}
