@import "mixins";

@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Montserrat-Light.ttf", sans-serif;
  h1 {
    text-transform: uppercase;
  }
}

body {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-repeat: repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */

.header {
  @include blackBg;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  position: relative;
  display: block;
  margin-left: 2rem;
  height: 60px;
}

// HEADER RIGHT SIDE

#menu {
  @include flexInFlex;
  white-space: nowrap;
  margin-right: 2.5rem;
}

details {
  position: absolute;
  right: 15rem;
  top: -1.3rem;
  list-style: none;
  summary {
    list-style: none;

    img {
      @include flexInFlex;
      height: 60px;
      width: 60px;
      border: solid red;
    }
  }
  ul {
    list-style: none;
    position: absolute;
    background-color: black;
    text-align: justify;
    border-radius: 9px;
    padding: 1rem;
    li a {
      text-decoration: none;
      color: green;
    }
  }
}

input {
  @include darkBg;
  @include greenItem;
  height: 50%;
  border-color: #198754;
}

.btn {
  @include darkBg;
  @include greenItem;
  border: none;
  font-size: 1.2rem;
}
