@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat-Light.ttf", sans-serif;
}
* h1 {
  text-transform: uppercase;
}

body {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-repeat: repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #212529;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  position: relative;
  display: block;
  margin-left: 2rem;
  height: 60px;
}

#menu {
  position: relative;
  display: flex;
  margin: auto;
  white-space: nowrap;
  margin-right: 2.5rem;
}

details {
  position: absolute;
  right: 15rem;
  top: -1.3rem;
  list-style: none;
}
details summary {
  list-style: none;
}
details summary img {
  position: relative;
  display: flex;
  margin: auto;
  height: 60px;
  width: 60px;
  border: solid red;
}
details ul {
  list-style: none;
  position: absolute;
  background-color: black;
  text-align: justify;
  border-radius: 9px;
  padding: 1rem;
}
details ul li a {
  text-decoration: none;
  color: green;
}

input {
  background-color: #212529;
  color: green;
  height: 50%;
  border-color: #198754;
}

.btn {
  background-color: #212529;
  color: green;
  border: none;
  font-size: 1.2rem;
}

/* PAGE */
.main {
  position: relative;
  display: flex;
  margin: auto;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CATALOGUE ROWS */
.row {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #6c757d;
  height: 15rem;
  width: 100%;
  overflow-x: hidden;
  border-radius: 30px;
}
.row h1 {
  color: green;
  font-size: 2rem;
  position: absolute;
  margin-top: -3rem;
  white-space: nowrap;
}

/* CAROUSEL */
.carousel-container {
  background-color: green;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 96vw;
  margin: auto;
  align-content: center;
  justify-self: center;
  z-index: 0;
  overflow-x: hidden;
}
.carousel-container .carouselBtn {
  position: absolute;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 4rem;
  font-size: 2rem;
  background-color: green;
  color: white;
  border: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}
.carousel-container .carouselBtn.prev {
  left: 0;
}
.carousel-container .carouselBtn.next {
  right: 0;
}

.carousel-slide {
  position: relative;
  display: flex;
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  flex-direction: row;
  height: 100%;
  width: 93%;
  justify-content: start;
  align-items: center;
  left: 4rem;
  z-index: 0;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

/* MOVIE PANELS */
.panel {
  position: relative;
  border: 2px green solid;
  border-radius: 10px;
  margin: 0.9rem;
  justify-items: flex-start;
  height: 14rem;
  min-width: 25rem;
  transition: opacity 2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

.panel__video {
  width: 100%;
  background: red;
  padding-top: 56.25%;
}

/* BIG WINDOWS */
.content {
  background-color: #212529;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  flex-direction: row;
  height: 50rem;
  width: 100%;
  overflow: hidden;
}
.content .content#categories {
  border: #198754 solid 2px;
  border-radius: 15px;
}
.content h1 {
  color: green;
  font-size: 3rem;
  margin: 3rem;
}

/*  GENRE CARDS */
.cardContainer {
  position: relative;
  display: flex;
  border-top: green solid 3px;
  border-bottom: green solid 3px;
  height: 40rem;
  width: 95rem;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.cardContainer .card {
  position: absolute;
  display: inline-block;
  flex-direction: column;
  border: none;
  box-shadow: 10px 10px 5px;
  top: auto;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 2px;
  width: 11rem;
  height: 35rem;
  white-space: nowrap;
  z-index: 1;
  margin-left: 0.5rem;
  transition: transform 2s ease-in-out;
}
.cardContainer .card:hover {
  transform: scaleX(1.1) scaleY(1.05);
  z-index: 2;
}
.cardContainer .card h3 {
  color: green;
  margin: 2rem;
  justify-content: end;
  position: absolute;
}
.cardContainer .card img {
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: -20%;
  margin: auto;
}
.slider-controls button {
  background-color: black;
  border-top: rgb(0, 0, 0) solid 3px;
  border-bottom: rgb(0, 0, 0) solid 3px;
  opacity: 0.5;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  padding: 5px 20px;
}
.slider-controls button:hover {
  background-color: green;
}/*# sourceMappingURL=homeStyle.css.map */