@import "mixins";
@import "header";

/* PAGE */

.main {
  @include flexInFlex;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CATALOGUE ROWS */

.row {
  @include flexInFlex;
  @include layoutMargins;
  @include secondaryBg;
  height: 15rem;
  width: 100%;
  overflow-x: hidden;
  border-radius: 30px;

  h1 {
    @include greenItem;
    font-size: 2rem;
    position: absolute;
    margin-top: -3rem;
    white-space: nowrap;
  }
}

/* CAROUSEL */

.carousel-container {
  @include greenBg;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 96vw;
  margin: auto;
  align-content: center;
  justify-self: center;
  z-index: 0;
  overflow-x: hidden;
  .carouselBtn {
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 4rem;
    font-size: 2rem;
    @include greenBg;
    color: white;
    border: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}

.carousel-slide {
  position: relative;
  display: flex;
  @include blackBg;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  flex-direction: row;
  height: 100%;
  width: 93%;
  justify-content: start;
  align-items: center;
  left: 4rem;
  z-index: 0;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

/* MOVIE PANELS */

.panel {
  position: relative;
  border: 2px green solid;
  border-radius: 10px;
  margin: 0.9rem;
  justify-items: flex-start;
  height: 14rem;
  min-width: 25rem;
  transition: opacity 2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

.panel__video {
  width: 100%;
  background: red;
  padding-top: calc(9 / 16 * 100%);
}

/* BIG WINDOWS */

.content {
  @include darkBg;
  @include layoutMargins;
  position: relative;
  flex-direction: row;
  height: 50rem;
  width: 100%;
  overflow: hidden;
  & .content#categories {
    border: #198754 solid 2px;
    border-radius: 15px;
  }
  h1 {
    @include greenItem;
    font-size: 3rem;
    margin: 3rem;
  }
}

/*  GENRE CARDS */

.cardContainer {
  position: relative;
  display: flex;
  border-top: green solid 3px;
  border-bottom: green solid 3px;
  height: 40rem;
  width: calc(11rem * 8 + 1rem * 7);
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  .card {
    position: absolute;
    display: inline-block;
    flex-direction: column;
    border: none;
    box-shadow: 10px 10px 5px;
    top: auto;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 2px;
    width: 11rem;
    height: 35rem;
    white-space: nowrap;
    z-index: 1;
    margin-left: 0.5rem;
    transition: transform 2s ease-in-out;
    &:hover {
      transform: scaleX(1.1) scaleY(1.05);
      z-index: 2;
    }
    h3 {
      @include greenItem;
      margin: 2rem;
      justify-content: end;
      position: absolute;
    }
    img {
      max-width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: -20%;
  margin: auto;
  button {
    background-color: black;
    border-top: rgb(0, 0, 0) solid 3px;
    border-bottom: rgb(0, 0, 0) solid 3px;
    opacity: 0.5;
    color: #fff;

    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 5px 20px;
    &:hover {
      @include greenBg;
    }
  }
}
