@font-face {
  font-family: "Montserrat-Light.ttf";
<<<<<<< HEAD
  src: url(../public/images/fonts/Montserrat-Light.ttf);
=======
  src: url(./images/fonts/Montserrat-Light.ttf);
>>>>>>> development
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
<<<<<<< HEAD
=======
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
>>>>>>> development
* {
  font-family: "Montserrat-Light.ttf", sans-serif;
}
* h1 {
  text-transform: uppercase;
}

body {
  background-color: #212529;
<<<<<<< HEAD
  background-image: url(../public/images/3px-tile.png);
=======
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-repeat: repeat;
>>>>>>> development
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */
.header {
<<<<<<< HEAD
  background-color: #212529;
=======
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
>>>>>>> development
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  position: relative;
  display: block;
  margin-left: 2rem;
<<<<<<< HEAD
  height: 60px;
}

=======
  top: 0.7rem;
  height: 60px;
}

/* RIGHT SIDE */
>>>>>>> development
#menu {
  position: relative;
  display: flex;
  margin: auto;
  white-space: nowrap;
<<<<<<< HEAD
  margin-right: 2.5rem;
}

details {
  position: absolute;
  right: 15rem;
  top: -1.3rem;
=======
  justify-content: space-around;
  margin-right: 2.5rem;
}

/* PROFILE */
details {
  position: absolute;
  margin-right: 23rem;
  top: -0.8rem;
>>>>>>> development
  list-style: none;
}
details summary {
  list-style: none;
}
details summary img {
  position: relative;
  display: flex;
  margin: auto;
<<<<<<< HEAD
  height: 60px;
  width: 60px;
  border: solid red;
=======
  right: 2rem;
  height: 60px;
  width: 60px;
  border: solid #198754;
>>>>>>> development
}
details ul {
  list-style: none;
  position: absolute;
  background-color: black;
  text-align: justify;
  border-radius: 9px;
  padding: 1rem;
<<<<<<< HEAD
}
details ul li a {
  text-decoration: none;
  color: green;
}

input {
  background-color: #212529;
  color: #198754;
  height: 50%;
  border-color: #198754;
}

.btn {
  background-color: #212529;
  color: #198754;
  border: none;
  font-size: 1.2rem;
}

/* PAGE */
.main {
  position: relative;
  display: flex;
  margin: auto;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*big windows*/
.content {
  background-color: #212529;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  flex-direction: row;
  height: 50rem;
  width: 100%;
  overflow: hidden;
}
.content .content#categories {
  border: #198754 solid 2px;
  border-radius: 15px;
}
.content h1 {
  color: #198754;
  font-size: 3rem;
  margin: 3rem;
}

/*catalogues*/
=======
  right: 1.8rem;
}
details ul li a {
  text-decoration: none;
  color: #198754;
}

/* SEARCH */
.search-container {
  min-width: 300px;
  position: relative;
  right: 1rem;
}

.search-container:focus {
  border: none;
}

#search {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: #198754;
  height: 50%;
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  border: 1px solid #6c757d;
  border-radius: 4px;
}

/* .btn {
  @include darkBg;
  @include greenItem;
  border: none;
  font-size: 1.2rem;
} */
.suggestions-list {
  position: absolute;
  top: 100%;
  max-height: 150px;
  min-width: 300px;
  left: 5px;
  border: 1.5px solid black;
  border-top: none;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  border-radius: 0 0 4px 4px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #198754;
}

.suggestion-item:hover {
  background-color: #198754;
  color: #212529;
}

/* FOOTER */
footer {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  height: 20rem;
}

@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
/* CATALOGUE ROWS */
h1 {
  color: #198754;
  top: 3.5rem;
  font-size: 2rem;
  position: relative;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  left: 5rem;
}

>>>>>>> development
.row {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
<<<<<<< HEAD
  background-color: #6c757d;
  height: 15rem;
  width: 100%;
  overflow-x: hidden;
}
.row h1 {
  color: #198754;
  font-size: 2rem;
  position: absolute;
  margin-top: -3rem;
  white-space: nowrap;
=======
  height: 15rem;
  width: 100%;
  overflow-x: hidden;
  border-radius: 30px;
  border: solid 2px #6c757d;
  box-shadow: 10px 10px 5px;
>>>>>>> development
}

/* CAROUSEL */
.carousel-container {
<<<<<<< HEAD
  background-color: #198754;
=======
>>>>>>> development
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 96vw;
  margin: auto;
  align-content: center;
  justify-self: center;
  z-index: 0;
  overflow-x: hidden;
}
.carousel-container .carouselBtn {
  position: absolute;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
<<<<<<< HEAD
  height: 100%;
  width: 4rem;
  background-color: #198754;
  color: white;
  border: none;
=======
  transition: background-color 0.5s ease-in-out;
  height: 100%;
  width: 4rem;
  font-size: 2rem;
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: white;
  border: none;
  overflow: hidden;
>>>>>>> development
  cursor: pointer;
  z-index: 3;
}
.carousel-container .carouselBtn.prev {
  left: 0;
<<<<<<< HEAD
  border-radius: 10px 0px 0px 10px;
=======
>>>>>>> development
}
.carousel-container .carouselBtn.next {
  right: 0;
}
<<<<<<< HEAD

.carousel-slide {
  position: relative;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 96%;
  width: 93%;
  justify-content: center;
  align-items: center;
  top: 2%;
=======
.carousel-container .carouselBtn:hover {
  background-color: #198754;
}

.carousel-slide {
  position: relative;
  display: flex;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  flex-direction: row;
  height: 100%;
  width: 93%;
  justify-content: start;
  align-items: center;
>>>>>>> development
  left: 4rem;
  z-index: 0;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

/* MOVIE PANELS */
.panel {
  position: relative;
<<<<<<< HEAD
  border: 2px red solid;
  border-radius: 10px;
  margin: 0.5rem;
=======
  border: 2px #198754 solid;
  border-radius: 10px;
  margin: 0.9rem;
>>>>>>> development
  justify-items: flex-start;
  height: 14rem;
  min-width: 25rem;
  transition: opacity 2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

.panel__video {
  width: 100%;
<<<<<<< HEAD
  background: red;
  padding-top: 56.25%;
}

=======
  padding-top: 56.25%;
}

/* PAGE */
.main {
  position: relative;
  display: flex;
  margin: auto;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BIG WINDOWS */
.content {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 36px;
  border: solid 2px #6c757d;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 10px 10px 5px;
}
.content .content#categories {
  border: #198754 solid 2px;
  border-radius: 15px;
}

>>>>>>> development
/*  GENRE CARDS */
.cardContainer {
  position: relative;
  display: flex;
<<<<<<< HEAD
  background-color: red;
=======
>>>>>>> development
  height: 40rem;
  width: 95rem;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.cardContainer .card {
  position: absolute;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  border: solid blue 2px;
  top: auto;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 2px;
  width: 11rem;
  height: 35rem;
  white-space: nowrap;
  z-index: 1;
}
.cardContainer .card:hover {
  transition: transform 1s ease-in-out;
  transform: scaleX(1.5);
  z-index: 1;
}
.cardContainer .card h3 {
  color: #198754;
  margin: 2rem;
  justify-content: end;
}
.cardContainer .card img {
  max-width: 100%;
  height: auto;
=======
  display: inline-block;
  flex-direction: column;
  border: none;
  box-shadow: 10px 10px 5px;
  border-radius: 15px;
  top: auto;
  cursor: pointer;
  padding: auto;
  min-width: 11rem;
  height: 35rem;
  white-space: nowrap;
  z-index: 1;
  transition: 1s ease;
}
.cardContainer .card :hover {
  z-index: 10;
  transform: scaleX(1.3) scaleY(1.05);
}
.cardContainer h3 {
  color: white;
  margin: 2rem;
  justify-content: end;
  bottom: 2rem;
  position: absolute;
}
.cardContainer img {
  max-width: 100%;
  height: 100%;
  transition: 0.8s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover img,
h3 {
  transform: scalex(1.1) scaleY(1.1);
  z-index: 10;
}

.cardContainer:hover .card:not(:hover) {
  filter: blur(2px) grayscale(0.8);
  transition: 1s ease;
  z-index: 1;
>>>>>>> development
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  top: -20%;
  margin: auto;
}
.slider-controls button {
  background-color: black;
  opacity: 0.5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
=======
  bottom: 0;
  margin: auto;
  border: none;
  box-sizing: content-box;
}
.slider-controls button {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: #6c757d;
  font-size: 2rem;
  width: 4rem;
  height: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
>>>>>>> development
  padding: 5px 20px;
}
.slider-controls button:hover {
  background-color: #198754;
<<<<<<< HEAD
=======
  color: #212529;
>>>>>>> development
}/*# sourceMappingURL=homeStyle.css.map */