@import "mixins";

* {
  font-family: "Montserrat-Light.ttf", sans-serif;
  h1 {
    text-transform: uppercase;
  }
}

body {
  background-color: #212529;
  background-image: url(../public/images/3px-tile.png);
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */

.header {
  @include darkBg;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  position: relative;
  display: block;
  margin-left: 2rem;
  height: 60px;
}

// HEADER RIGHT SIDE

#menu {
  @include flexInFlex;
  white-space: nowrap;
  margin-right: 2.5rem;
}

details {
  position: absolute;
  right: 15rem;
  top: -1.3rem;
  list-style: none;
  summary {
    list-style: none;

    img {
      @include flexInFlex;
      height: 60px;
      width: 60px;
      border: solid red;
    }
  }
  ul {
    list-style: none;
    position: absolute;
    background-color: black;
    text-align: justify;
    border-radius: 9px;
    padding: 1rem;
    li a {
      text-decoration: none;
      color: green;
    }
  }
}

input {
  @include darkBg;
  @include greenItem;
  height: 50%;
  border-color: #198754;
}

.btn {
  @include darkBg;
  @include greenItem;
  border: none;
}

/* PAGE */

.main {
  @include flexInFlex;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*big windows*/

.content {
  @include darkBg;
  @include layoutMargins;
  position: relative;
  flex-direction: row;
  height: 50rem;
  width: 100%;
  overflow: hidden;
  & .content#categories {
    border: #198754 solid 2px;
    border-radius: 15px;
  }
  h1 {
    @include greenItem;
    font-size: 3rem;
    margin: 3rem;
  }
}

/*catalogues*/

.row {
  @include flexInFlex;
  @include layoutMargins;
  @include secondaryBg;
  height: 15rem;
  width: 100%;
  overflow-x: hidden;

  h1 {
    @include greenItem;
    font-size: 2rem;
    position: absolute;
    margin-top: -3rem;
    white-space: nowrap;
  }
}

/* CAROUSEL */

.carousel-container {
  background-color: blueviolet;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 96vw;
  margin: auto;
  align-content: center;
  justify-self: center;
  z-index: 0;
  overflow-x: hidden;
  .carouselBtn {
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 4rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 3;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}

.carousel-slide {
  position: relative;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 96%;
  width: 93%;
  justify-content: center;
  align-items: center;
  top: 2%;
  left: 4rem;
  z-index: 0;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

/* MOVIE PANELS */

.panel {
  position: relative;
  border: 2px red solid;
  border-radius: 10px;
  margin: 0.5rem;
  justify-items: flex-start;
  height: 14rem;
  min-width: 25rem;
  transition: opacity 2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

.panel__video {
  width: 100%;
  background: red;
  padding-top: calc(9 / 16 * 100%);
}

/*  GENRE CARDS */

.cardContainer {
  position: relative;
  margin: auto;
  margin-left: 2.3rem;
  background-color: red;
  height: 35rem;
  width: calc(11rem * 8 + 1rem * 7);
  box-sizing: border-box;
  text-align: center;
  justify-content: flex-start;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
  .card {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 2px;
    width: 11rem;
    height: 35rem;
    white-space: nowrap;
    position: absolute;
    top: 0;
    transition: opacity 2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    h3 {
      @include greenItem;
      margin: 2rem;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.slider-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 73%;
  top: -71%;
  margin: auto;
  button {
    background-color: black;
    opacity: 0.5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 5px 20px;
    &:hover {
      @include greenBg;
    }
  }
}
