@import "mixins";

body {
  @include darkBg;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */

.header {
  @include darkBg;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  @include flexInFlex;
  display: block;
  margin-left: 2rem;
  height: 60px;
}

// RIGHT SIDE

#menu {
  @include flexInFlex;
  white-space: nowrap;
  margin-right: 2.5rem;
}

details {
  position: absolute;
  right: 15rem;
  top: -1.3rem;
  list-style: none;
  summary {
    list-style: none;
    img {
      @include flexInFlex;
      height: 60px;
      width: 60px;
      border: solid red;
    }
  }
  ul {
    list-style: none;
    position: absolute;
    @include darkBg;
    li a {
      text-decoration: none;
      color: green;
    }
  }
}

input {
  @include darkBg;
  @include greenItem;
  height: 50%;
  border-color: #198754;
}

.btn {
  @include darkBg;
  @include greenItem;
  border: none;
}
/* PAGE */

.main {
  @include flexInFlex;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*big windows*/

.content {
  @include secondaryBg;
  @include layoutMargins;
  position: relative;
  height: 50rem;
  width: 100%;
  border: rgb(201, 5, 255) solid 2px;
  h1 {
    @include greenItem;
    font-size: 3rem;
    margin: 3rem;
  }
}

/*catalogues*/

.row {
  @include flexInFlex;
  @include layoutMargins;
  @include secondaryBg;
  height: 15rem;
  width: 100%;

  h1 {
    @include greenItem;
    font-size: 2rem;
    position: relative;
    margin-top: -3rem;
    white-space: nowrap;
  }
}

/* CAROUSEL */

.carousel-container {
  @include flexInFlex;
  width: 100%;
  z-index: 0;
  align-items: center;
  overflow: visible;
}

.carousel-slide {
  display: flex;
  overflow: visible;
  z-index: 0;
  transition: margin-left 0.5s ease;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 3;
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
}

/* MOVIE PANELS */

.panel {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  @include greenBg;
  aspect-ratio: 16 / 9;
  margin-right: 1rem;
  flex: 0 0;
  border-radius: 9px;
  z-index: 1;
  overflow: visible;
}

.film-info {
  position: absolute;
  @include darkBg;
  @include greenItem;
  display: flex;
  margin: auto;
  border: solid greenyellow 2px;
  border-radius: 9px;
  z-index: 0;
  overflow: visible;
  height: auto;
  height: 34rem;
  width: 27rem;
  left: -1.2rem;
  top: -1.2rem;
  max-width: none;
  max-height: none;
  transition: all 2s;
}

.panel:hover .film-info {
  visibility: visible;
  overflow: visible;
  height: auto;
  height: 34rem;
  width: 27rem;
  left: -1.2rem;
  top: -1.2rem;
  max-width: none;
  max-height: none;
  z-index: -1;
  transition: 2s;
}
