@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* POSITIONING */

@mixin flexInFlex {
  position: relative;
  display: flex;
  margin: auto;
}

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin layoutMargins {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* COLORS */

@mixin blackBg {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
}
@mixin darkBg {
  background-color: #212529;
}

@mixin greenBg {
  background-color: green;
}

@mixin secondaryBg {
  background-color: #6c757d;
}

@mixin darkItem {
  color: #212529;
}

@mixin greenItem {
  color: green;
}

@mixin Blu {
  color: blue;
}
