@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat-Light.ttf", sans-serif;
}
* h1 {
  text-transform: uppercase;
}

body {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-repeat: repeat;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

/* HEADER */
.header {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  position: relative;
  display: block;
  margin-left: 2rem;
  top: 0.7rem;
  height: 60px;
}

/* RIGHT SIDE */
#menu {
  position: relative;
  display: flex;
  margin: auto;
  white-space: nowrap;
  justify-content: space-around;
  margin-right: 2.5rem;
}

/* PROFILE */
details {
  position: absolute;
  margin-right: 23rem;
  top: -0.8rem;
  list-style: none;
}
details summary {
  list-style: none;
}
details summary img {
  position: relative;
  display: flex;
  margin: auto;
  right: 2rem;
  height: 60px;
  width: 60px;
  border: solid #198754;
}
details ul {
  list-style: none;
  position: absolute;
  background-color: black;
  text-align: justify;
  border-radius: 9px;
  padding: 1rem;
  right: 1.8rem;
}
details ul li a {
  text-decoration: none;
  color: #198754;
}

/* SEARCH */
.search-container {
  min-width: 300px;
  position: relative;
  right: 1rem;
}

.search-container:focus {
  border: none;
  outline-color: #198754;
}

#search {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: #198754;
  height: 50%;
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  border: 2px solid #6c757d;
  border-radius: 4px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  max-height: 150px;
  max-width: 300px;
  min-width: 300px;
  left: 5px;
  border: 2px solid black;
  border-top: none;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  border-radius: 0 0 4px 4px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #198754;
}

.suggestion-item:hover {
  background-color: #198754;
  color: #212529;
}

/* FOOTER */
footer {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  height: 1.8rem;
  z-index: 11;
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
footer nav {
  opacity: 1;
  width: 50%;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer p {
  color: #6c757d;
  position: absolute;
  padding: auto;
  justify-content: end;
  right: 3rem;
}
footer a {
  color: #198754;
  align-content: start;
  text-decoration: none;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
  margin: auto;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  width: 90%;
  height: 85%;
  margin: auto;
  margin-top: 6rem;
  border: 3px solid #198754;
  border-radius: 36px;
  align-items: end;
  justify-content: center;
}

h1 {
  position: absolute;
  text-transform: uppercase;
  color: #198754;
  font-size: 3rem;
  margin: 0 auto;
  justify-content: center;
  white-space: nowrap;
  top: 2rem;
  left: 18%;
}

p {
  position: absolute;
  color: #6c757d;
  font-size: 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: end;
  justify-content: space-around;
  height: 70vh;
  width: 90%;
  border: 1px solid red;
}

.profileSection {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: start;
  margin-right: 2rem;
}

.profileIconBox {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.profileIconBox .dropbtn {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.profileIconBox img {
  position: relative;
  box-sizing: content-box;
  border: 6px solid #198754;
  border-radius: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  overflow: hidden;
}

.info {
  border: 6px solid #198754;
  border-radius: 36px;
  background-color: #6c757d;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  position: relative;
  bottom: 0.7em;
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: end;
  margin-bottom: 0;
  padding: 2rem 4rem;
  margin-left: 2rem;
}
.info label {
  color: #212529;
  font-size: 1.2rem;
  text-transform: uppercase;
  justify-items: start;
}
.info input {
  margin: 1rem 0rem 0rem 2rem;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: #198754;
  justify-items: end;
  position: relative;
  width: 40%;
  right: 0;
  font-size: 1.2rem;
  border: 2px solid #6c757d;
  border-radius: 4px;
}
.info button {
  background-color: #198754;
  color: #212529;
  border: 6px solid #6c757d;
  border-radius: 8px;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
}/*# sourceMappingURL=profileCreate.css.map */