@import "mixins";

/* CATALOGUE ROWS */
h1 {
  @include greenItem;
  top: 3.5rem;
  font-size: 2rem;
  position: relative;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  left: 5rem;
}
.row {
  @include flexInFlex;
  @include layoutMargins;
  height: 15rem;
  width: 100%;
  overflow-x: hidden;
  border-radius: 30px;
  border: solid 2px #6c757d;
  box-shadow: 10px 10px 5px;
}

/* CAROUSEL */

.carousel-container {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 96vw;
  margin: auto;
  align-content: center;
  justify-self: center;
  z-index: 0;
  overflow-x: hidden;
  .carouselBtn {
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    height: 100%;
    width: 4rem;
    font-size: 2rem;
    @include blackBg;
    color: white;
    border: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
    &:hover {
      @include greenBg;
    }
  }
}

.carousel-slide {
  position: relative;
  display: flex;
  @include darkBg;

  flex-direction: row;
  height: 100%;
  width: 93%;
  justify-content: start;
  align-items: center;
  left: 4rem;
  z-index: 0;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

/* MOVIE PANELS */

.panel {
  position: relative;
  border: 2px #198754 solid;
  border-radius: 10px;
  margin: 0.9rem;
  justify-items: flex-start;
  height: 14rem;
  min-width: 25rem;
  transition: opacity 2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

.panel__video {
  width: 100%;
  padding-top: calc(9 / 16 * 100%);
}
