*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    display: flex;
    padding-top : 30px;
    padding-bottom: 30px;
    justify-content: center;
    color: #198754;
    background-color: #212529;
}

.menu {
    display: flex;
    width: 960px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

li {
    display: flex;

}
/* a {
    color: #212529;
    font-size: 1.4em;
    text-decoration: none;
}

a:hover {
    color: #198754;
    border-bottom: 1px solid #198754;
    font-weight: bold;
    
} */


h1 {
    font-size: 3em;


#myTabContent {
    display: flex;
    width: 960px;
    /* justify-content: center; */
    margin: auto;
    padding-top: 15px;

}